.table{
    margin: 10% auto;
    background-color: rgb(136, 192, 173);
    padding: 60px;
}

label{
    font-size: 18px;
    font-weight: bold;
}

input{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn{
    margin-top: 6%;
    background-color: rgb(221, 166, 14);
    color: beige;
    font-size: medium;
    padding: 5px 80px;
    position: relative;
    left: 20px;
}

.span a{
    color: rgb(170, 12, 136);
    text-decoration: none;
    padding-left: 2%;
}