*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: rgb(23, 11, 34);
    height: 10%;
    padding: 14px;
    text-align: center;
    color: aliceblue;
}

header h1{

    padding: 10px;

}


.profile{
     background-color:beige ;
     margin:0 auto;
     padding: 20px;
     height: 100vh;
     
}

    .profile-content{
        width: 70vh;
        margin: 3% auto;
        background-color: rgba(197, 221, 219, 0.97);
        display:flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: 1px solid black;
        
}

    .profile .profile-img{
        width: 20%;
        position: relative;
        left: 40%;
        border: 2px solid black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

.profile h2{
    font-size: 2rem;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    min-height: 50px; 
    height: auto; 
    background-color: rgb(23, 11, 34);
    color: white;
    text-align: center;
}
footer p{
    padding: 18px;
    font-size: 1em;
}